docker.enabled         = true
docker.userEmulation   = true
docker.runOptions = '--platform linux/amd64'

includeConfig 'conf/base.config'

params {
snps_ref = 's3://dfci-cfchipseq-tower/ref_files/SNPs/SNPs.1e5.txt'
genome_ref = 'hg19'
align_ref = 's3://dfci-cfchipseq-tower/ref_files/hg19/'
files_ref_genome = 's3://dfci-cfchipseq-tower/ref_files/hg19/hg19*.*'
gtf_ref = 's3://dfci-cfchipseq-tower/ref_files/hg19/gencode.v19.annotation.gtf'
DAC_Exclusion = 's3://dfci-cfchipseq-tower/ref_files/hg19/DAC_Exclusion.bed'
genes_pileup_report = 's3://dfci-cfchipseq-tower/ref_files/pileup_report/test_housekeeping.bed'
states_ref = 's3://dfci-cfchipseq-tower/ref_files/states'

pathEnrichmentScript = "${projectDir}/auxiliar_programs/enrichment.sh"
pathRfrag_plotFragDist = "${projectDir}/auxiliar_programs/frag_plotFragDist.R"
pathRComparison = "${projectDir}/auxiliar_programs/pileups_comparison.R"
pathRPileups = "${projectDir}/auxiliar_programs/read_pileups.R"
}
