//*******
///Running in a server with slurm and singularity
//*******

//singularity.enabled = true
//singularity.autoMounts = true
//singularity.cacheDir = "/n/app/singularity/containers/pac936/"
//singularity_folder = "/n/app/singularity/containers/pac936/"

//*******
//Running in a local machine with docker installed
//*******

docker.enabled         = true
docker.userEmulation   = true

//option to make it run on mac with M1/M2 processor
//docker.runOptions = '--platform linux/amd64'

params {

//Assets will be stored in S3
snps_ref = 's3://dfci-cfchipseq-tower/ref_files/SNPs/SNPs.1e5.txt'
align_ref = 's3://dfci-cfchipseq-tower/ref_files/hg19/hg19.fa'
gtf_ref = 's3://dfci-cfchipseq-tower/ref_files/hg19/gencode.v19.annotation.gtf'
DAC_Exclusion = 's3://dfci-cfchipseq-tower/ref_files/hg19/DAC_Exclusion.bed'
genes_pileup_report = 's3://dfci-cfchipseq-tower/ref_files/pileup_report/test_housekeeping.bed'
states_ref = 's3://dfci-cfchipseq-tower/ref_files/states'

//Code will be stored in github
pathEnrichmentScript = '${projectDir}/auxiliar_programs/enrichment.sh'
pathRfrag_plotFragDist = '${projectDir}/auxiliar_programs/frag_plotFragDist.R'
pathRComparison = '${projectDir}/auxiliar_programs/pileups_comparison.R'
pathRPileups = '${projectDir}/auxiliar_programs/read_pileups.R'
//pathJson_file = '${projectDir}/auxiliar_programs/cfchip.json'

samples = 's3://dfci-cfchipseq-tower/sample_sheets/small-samples.csv'


threads = 5
queue = 'short'
}
