profiles {
local_mac {
    docker.enabled         = true
    docker.userEmulation   = true
    docker.runOptions = '--platform linux/amd64'

    includeConfig 'conf/base.config'

  
    params.genome_ref = 'hg19'
    params.align_ref = './ref_files/hg19/'
    params.files_ref_genome = './ref_files/hg19/hg19*.*'
    params.gtf_ref = './ref_files/hg19/gencode.v19.annotation.gtf'
    params.DAC_Exclusion = './ref_files/hg19/DAC_Exclusion.bed'
    
    params.states_ref = "${projectDir}/ref_files/states"
    params.snps_ref = "${projectDir}/ref_files/SNPs/SNPs.1e5.txt"
    params.genes_pileup_report = "${projectDir}/ref_files/pileup_report/test_housekeeping.bed"

    params.pathEnrichmentScript = "${projectDir}/auxiliar_programs/enrichment.sh"
    params.pathRfrag_plotFragDist = "${projectDir}/auxiliar_programs/frag_plotFragDist.R"
    params.pathRComparison = "${projectDir}/auxiliar_programs/pileups_comparison.R"
    params.pathRPileups = "${projectDir}/auxiliar_programs/read_pileups.R"
  }
  aws {
    docker.enabled         = true
    docker.userEmulation   = true
    docker.runOptions = '--platform linux/amd64'

    includeConfig 'conf/base.config'

  
    params.genome_ref = 'hg19'
    params.align_ref = 's3://dfci-cfchipseq-tower/ref_files/hg19/'
    params.files_ref_genome = 's3://dfci-cfchipseq-tower/ref_files/hg19/hg19*.*'
    params.gtf_ref = 's3://dfci-cfchipseq-tower/ref_files/hg19/gencode.v19.annotation.gtf'
    params.DAC_Exclusion = 's3://dfci-cfchipseq-tower/ref_files/hg19/DAC_Exclusion.bed'
    
    params.states_ref = "${projectDir}/ref_files/states"
    params.snps_ref = "${projectDir}/ref_files/SNPs/SNPs.1e5.txt"
    params.genes_pileup_report = "${projectDir}/ref_files/pileup_report/test_housekeeping.bed"

    params.pathEnrichmentScript = "${projectDir}/auxiliar_programs/enrichment.sh"
    params.pathRfrag_plotFragDist = "${projectDir}/auxiliar_programs/frag_plotFragDist.R"
    params.pathRComparison = "${projectDir}/auxiliar_programs/pileups_comparison.R"
    params.pathRPileups = "${projectDir}/auxiliar_programs/read_pileups.R"
  }
}
