/*
*/

process {

    withLabel:process_low {
        memory = '8G'
        cpus = 2
        time   = '8h'
        queue = 'short'
    }

  withLabel:process_medium {
        memory = '16G'
        cpus = 4
        time   = '8h'
        queue = 'short'
    }

    withLabel:process_high {
        memory = '32G'
        cpus = 12
        time   = '8h'
        queue = 'short'
    }

withLabel:low_cpu_low_mem {
        memory = '1G'
        cpus = 2
        time   = '8h'
        queue = 'short'
    }

withLabel:med_cpu_med_mem {
        memory = '4G'
        cpus = 4
        time   = '8h'
        queue = 'short'
    }

withLabel:med_cpu_high_mem {
        memory = '16G'
        cpus = 8
        time   = '8h'
        queue = 'short'
    }

withLabel:high_cpu_high_mem {
        memory = '24G'
        cpus = 16
        time   = '8h'
        queue = 'medium'
    }

withLabel:low_cpu_high_mem {
        memory = '24G'
        cpus = 4
        time   = '8h'
        queue = 'short'
    }
}
