/*
*/

process {

    withLabel:process_low {
        memory = '8G'
        cpus = 2
        queue = 'Normal'
    }

  withLabel:process_medium {
        memory = '8G'
        cpus = 4
        queue = 'Normal'
    }

    withLabel:process_high {
        memory = '16G'
        cpus = 8
        queue = 'Normal'
    }

withLabel:low_cpu_low_mem {
        memory = '1G'
        cpus = 2
        queue = 'Normal'
    }

withLabel:med_cpu_med_mem {
        memory = '4G'
        cpus = 4
        queue = 'Normal'
    }

withLabel:med_cpu_high_mem {
        memory = '16G'
        cpus = 8
        queue = 'Normal'
    }

withLabel:high_cpu_high_mem {
        memory = '16G'
        cpus = 8
        queue = 'Normal'
    }

withLabel:low_cpu_high_mem {
        memory = '16G'
        cpus = 4
        queue = 'Normal'
    }
}
